
<br>
<h4>Classes</h4>
<button type="button" class="btn btn-outline-primary float-right" id="facultybutton"><a href="/admin/classes/add">Add Class</a></button>
<br>
<br>
	<div class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center">
						<label>ID</label>
					</th>
					<th class="text-center">
						<label>Batch</label>
					</th>
					<th class="text-center">
						<label>Year Level</label>
					</th>
					<th class="text-center">
						<label>Section</label>
					</th>
					<th class="text-center">
						<label>Adviser</label>
					</th>

					<th class="text-center">
						<label>Details</label>
					</th>

				</tr>
			</thead>
			<tbody>
   {{#each classes}}
					<tr>
						<td class="text-center">{{this.class_id}}</td>
						<td class="text-center">{{this.batches}}</td>
						<td class="text-center">{{this.year_levels}}</td>
						<td class="text-center">{{this.sections}}</td>
						<td class="text-center">{{this.fname}} {{this.lname}}</td>
						<td class="text-center"><a href="/admin/classes/{{this.class_id}}">View</a></td>

					</tr>
     {{/each}}
			</tbody>
		</table>
	</div>
  <br><br>
